
.botao-voltar {
    display: flex;
    padding: 7px 30px;
    margin-top: 60px;
    background-color: blueviolet;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform, 0.3s;
}

.botao-voltar:hover {
    transform: scale(1.06);
    opacity: 0.85;
}